@use "../../assets/scss/colors" as *;

.details-view {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  &-poster {
    width: 50%;

    .details-view-poster-image {
      width: calc(100% - 48px);
      border-radius: 8px;
      height: 500px;
    }

    @media (max-width: 768px) {
      width: 100%;

      .details-view-poster-image {
        width: 100%;
      }
    }
  }

  &-info {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.genres {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .genre-tag {
    background: $grey;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
  }
}
